{% extends '::report:template' %}

{% block reportHeader %}
	<div class="display-group">
		<h2 class="title">Filter</h2>
		<div class="content-wrap">
			<div class="filter-by">
				{{ form_start(form) }}
					{{ form_row(form.date) }}

					<button type="submit" class="button small filter">Filter Dates</button>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}

{% block reportTableBody %}
	{% for category in data %}
		{% for model in category.models %}
			{% for row in model.rows %}
				<tr>
					{% for column, label in report.getColumns() %}
						<td>{{ report.formatColumn(column, attribute(row, column))|raw }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
			<tr class="total">
				<td colspan="2">Total in {{ model.label }}</td>
				<td>{{ model.total }}</td>
			</tr>
		{% endfor %}
		<tr class="grandtotal">
			<td colspan="2">Grand Total in {{ category.label }}</td>
			<td>{{ category.total }}</td>
		</tr>
	{% else %}
		<tr>
			<td colspan="3">No snapshot available for selected date</td>
		</tr>
	{% endfor %}
{% endblock %}
